<!DOCTYPE html>
<html ng-app="mainApp">
<head>
  <meta charset="utf-8">
  <title>Cesar</title>
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" href="./lib/pure-min.css">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div ng-controller="cesar" class="main">
    <form class="pas-gen pure-form">
      <span ng-click="min()">-</span>
      <input class="num" type="text" readonly min="1" ng-model="charCount">
      <span ng-click="sum()">+</span>
      <input type="submit"  ng-click="generatedPassword(charCount);" value="Generate Password" class="pure-button pure-button-primary pass-btn">
        <p class="pass">{{newpassword}}</p>
    </form>

    <form class="pure-form" ng-init="mode=1">
      <label for="one">
      <input id="one" ng-model="mode" type="radio" ng-value="1" checked>Encrypt
      </label>
      <label for="two">
      <input id="two" ng-model="mode" type="radio" ng-value="0">Decrypt
      </label>
    </form>
    <form class="pure-form">
      <fieldset class="pure-group">
      <input class="cesar" placeholder="Password" ng-model="code">
      <input class="cesar"  placeholder="Key" ng-model="key">
      </fieldset>
      <input class="cesar pure-button pure-button-primary"  type="submit" ng-click="cipherCaesar();" name="Idf" value="Start">
    <p class="pass two">{{cipher}}</p>
    </form>
  </div>
</body>
<script src="./lib/angular.min.js" charset="utf-8"></script>
<script src="./main.js" charset="utf-8"></script>
</html>